<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Notifications</h4>
        <p class="category">Notifications</p>
      </div>
      <div class="card-content">
          <div class="row">
              <div class="col-md-6">
                  <h5>Material Notifications</h5>
                  
                  <button (click)="showNotification('top','right')" class="btn btn-danger btn-round">TOP RIGHT</button>
                  <button (click)="showNotification('bottom','right')" class="btn btn-danger btn-round">BOTTOM RIGHT</button>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <h5>Snotify Notifications</h5>
                  <button (click)="success()" class="btn btn-danger btn-round">Success</button>
                  <button (click)="info()" class="btn btn-danger btn-round">Info</button>
                  <button (click)="apiCall()" class="btn btn-danger btn-round">API Call</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
